$bg-color: #1D1D1D;
$bg-light-color: #2F2F2F;
$text-color: #FFFFFF;
$primary-color: #F74539;
$primary-dark-color: #bc0010;

$color-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
$fill-transition: fill .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;